@model IEnumerable<AM.Web.Models.UserModel>
@using AM.Web.Shared
@{
    ViewData["Title"] = "Users";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="card">
    <div class="card-header">
        <h3>@ViewData["Title"] <a class="btn btn-primary float-right submit-btn text-white cursor-pointer" onclick="openUserModal(0)" data-toggle="modal" data-target="#userModal"> Add User</a></h3>
    </div>
    <div class="card-body">
        <table class="table" id="users-table">
            <thead>
                <tr>
                    <td>Full Name</td>
                    <td>Email</td>
                    <td class="text-center">Active</td>
                    <td class="text-center">Action</td>
                </tr>
            </thead>
            <tbody>
                @if (Model.IsNotNullOrEmpty() && Model.Any())
                {
                    @foreach (var user in Model)
                    {
                        <tr>
                            <td>@user.FullName</td>
                            <td>@user.Email</td>
                            <td class="text-center">@(user.Active?"Active":"Inactive")</td>
                            <td class="text-center">-</td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="userModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add User</h5>
                <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body-content">

            </div>
        </div>
    </div>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/js/custom/user.js"></script>
